DATABASE_URL=postgresql://*****:*****@ep-bold-heart-a584krtd-pooler.us-east-2.aws.neon.tech/authjs?sslmode=require
DIRECT_URL=postgresql://*****:*****@ep-bold-heart-a584krtd.us-east-2.aws.neon.tech/authjs?sslmode=require

AUTH_SECRET=auth_secret

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RESEND_API_KEY=

NEXT_PUBLIC_APP_URL=http://localhost:3000